# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/raw/

# macOS
.DS_Store

# Node
node_modules/
.next/
out/

# Environment variables
.env.local
.env.*.local